body{
    margin: 0;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header{
    background-color: rgb(0, 119, 255);
    color: black;
    padding: 20px;
    text-align: center;
}

header h1{
    margin: 0;
}

nav ul{
    list-style-type: none;
    padding: 0;
    background-color: lightgrey;
    margin: 0;
    display: flex;
    justify-content: center;
}